@import "tailwindcss";
@plugin "daisyui";

:root {
    --brand-gradient: linear-gradient(90deg, #f97316, #ec4899, #7c3aed);
}

.bg-brand-gradient {
    background-image: var(--brand-gradient);
}

.text-brand-gradient {
    background-image: var(--brand-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}